@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./BG.svg');
  background-size: cover;
  user-select: none;
}